body {
  font-family: monospace;
  background: #111;
  color: #eee;
  margin: 0;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  background: #000;
  color: #0f0;
}

#terminal {
  margin-top: 20px;
  background: #000;
  padding: 10px;
}

#register {
  display: flex;
  flex-direction: row;
}

#register>div {
  margin-left: 5px;
  margin-right: 5px;
}

.error-box {
  width: 100%;
}

.text-error {
  color: red;
}

.view {
  display: flex;
  gap: 4;
}

.editor {
  min-width: 0;
  box-sizing: border-box;
  flex: 0 0 75%;
}

.helper {
  margin-left: 1rem;
  flex: 1;
}
