body {
    font-family: monospace;
    background: #111;
    color: #eee;
}

textarea {
    width: 100%;
    background: #000;
    color: #0f0;
}

#terminal {
    margin-top: 20px;
    background: #000;
    padding: 10px;
}
