<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${title}">CPU Sim</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!-- <script th:src="@{/js/textarea.js}"></script> -->
</head>

<body>
  <h1 th:text="${title}">CPU Simulator</h1>
  <form th:action="@{/compile-run}" method="post">
    <h2>Program</h2>
    <div class="view">
      <div class="editor">
        <textarea name="program" th:text="${program}" rows="25" id="program">
        </textarea>
      </div>
      <div class="helper">
        <p>List Of Available Instruction</p>
        <p>Every Instruction is Case Sensitive and Space / Comma Sensitive</p>
        <p>New Instruction must put in new line</p>
        <ul>
          <li>LOAD [Register], [Value]</li>
          <li>ADD [Register], [Register]</li>
          <li>CMP [Register], [Register]</li>
          <li>JZ [label | Instruction Line]</li>
          <li>LOADM [Memory Index], [Register]</li>
          <li>STOREM [Register], [Memory Index]</li>
          <li>PUSH [Register]</li>
          <li>POP [Register]</li>
          <li>HALT</li>
          <li>[label]:</li>
        </ul>
        <p>Comment can be add after instruction or below / after instruction e.g</p>
        <div>
          LOAD A, 1 ; this is comment
        </div>
        <div>
          or
        </div>
        <div>
          ; this is comment <br>
          LOAD A, 1
        </div>
      </div>
    </div>
    <div>
      <button type="submit">Compile & Run</button>
    </div>
  </form>
  <div class="error-box">
    <p th:text="${error}" class="text-error"></p>
  </div>
  <div id="terminal">
    <h2>Register State</h2>
    <div id="register">
      <div>
        Register A: <span th:text="${registerA}">0</span>
      </div>
      <div>
        Register B: <span th:text="${registerB}">0</span>
      </div>
      <div>
        Register C: <span th:text="${registerC}">0</span>
      </div>
      <div>
        Register D: <span th:text="${registerD}">0</span>
      </div>
    </div>
    <h2>Memory State</h2>
    <div class="flex-memory">
      <div class="box-memory" th:each="mem: ${memorys}">
        <span th:text="${mem}">0</span>
      </div>
    </div>
  </div>

</body>

</html>
