<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${title}">CPU Sim</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!-- <script th:src="@{/js/textarea.js}"></script> -->
</head>

<body>
  <h1 th:text="${title}">CPU Simulator</h1>
  <form th:action="@{/compile-run}" method="post">
    <div id="editor">
      <h2>Program</h2>
      <textarea name="program" th:text="${program}" cols="80" rows="10" id="program" placeholder="LOAD A, 1
LOAD B, 2
STORE A, 0x001
HALT">
      </textarea>
    </div>
    <div>
      <button type=" submit">Compile & Run</button>
    </div>

  </form>
  <div class="error-box">
    <p th:text="${error}" class="text-error"></p>
  </div>
  <div id="terminal">
    <h2>CPU State</h2>
    <div id="register">
      <div>
        Register A: <span th:text="${registerA}">0</span>
      </div>
      <div>
        Register B: <span th:text="${registerB}">0</span>
      </div>
      <div>
        Register C: <span th:text="${registerC}">0</span>
      </div>
      <div>
        Register D: <span th:text="${registerD}">0</span>
      </div>
    </div>
  </div>

</body>

</html>
